<div class="max-w-xs mx-auto mt-12">
    <div class="bg-white p-8 rounded-2xl shadow-xl border border-gray-200">

        <div class="mb-6 text-2xl font-bold text-gray-900">
            Editar Transação#<%= @transaction.id %>
        </div>

        <%= form_with model: @transaction, class: "space-y-6" do |form|%>
            <div class="p-4 border border-gray-200 rounded-xl
                        focus-within:ring-2 focus-within:ring-violet-400
                        focus-within:border-violet-400 transition-all duration-200">


                <%= form.label :name, "NOME", class: "form-label" %>

                <div class="flex items-center">
                    <%= form.text_field :name,
                        class: 'text-input'
                    %>
                </div>
            </div>

            <div class="p-4 border border-gray-200 rounded-xl
                        focus-within:ring-2 focus-within:ring-violet-400
                        focus-within:border-violet-400 transition-all duration-200">

                <%= form.label :amount_cents, "AMOUNT CENTS", class: "form-label" %>

                <div class="flex items-center">

                    <span class="text-3xl font-bold text-gray-900 mr-2">R$</span>

                    <%= form.text_field :amount,
                        class: 'currency-input **box-border** **w-full**',
                        placeholder: "0.00",
                        value: (@transaction.amount.format(symbol: false) if @transaction.amount.present?)
                    %>
                </div>
            </div>

            <div class="p-4 border border-gray-200 rounded-xl
                        focus-within:ring-2 focus-within:ring-violet-400
                        focus-within:border-violet-400 transition-all duration-200">

                <%= form.label :total_portions, "PARCELAS", class: "form-label" %>

                <div class="flex items-center space-x-2">
                    <%= form.number_field :total_portions,
                        class: 'text-input w-24',
                        min: 1,
                        value: @transaction.total_portions,
                        placeholder: "1"
                    %>
                    <span class="text-sm text-gray-500">parcela(s)</span>
                </div>
            </div>

            <div>
                <%= form.submit "Update Transaction", class: "btn-primary cursor-pointer" %>
            </div>

        <% end %>
    </div>
</div>